/* html {
    font-size: 37.5px;
  }
  
  .page {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 46.08rem;
    height: 29.787rem;
    overflow: hidden;
  }
  
  .group_1 {
    width: 45.254rem;
    height: 24.054rem;
    margin: 0.56rem 0 0 0.4rem;
  }
  
  .group_2 {
    background-color: rgba(88, 88, 88, 1);
    width: 9.707rem;
    height: 24.054rem;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  
  .button_new_chat {
    background-color: rgba(0, 0, 0, 1);
    height: 1.28rem;
    width: 4.054rem;
    margin: 1.467rem 0 0 2.827rem;
  }
  
  .text_1 {
    width: 1.36rem;
    height: 0.454rem;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 0.32rem;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 0.454rem;
    margin: 0.427rem 0 0 1.36rem;
  }
  
  .label_1 {
    width: 0.64rem;
    height: 0.64rem;
    margin: 1.36rem 0 0 0.667rem;
  }
  
  .paragraph_1 {
    width: 8.134rem;
    height: 13.654rem;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 0.48rem;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    line-height: 0.694rem;
    margin: -0.16rem 0 5.814rem 0.72rem;
  }
  
  .dialog_box {
    background-color: rgba(241, 241, 241, 1);
    height: 23.707rem;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: 0.107rem;
    width: 33.76rem;
  }
  
  
  .group_3 {
    width: 45.014rem;
    height: 3.76rem;
    margin: 0.64rem 0 0.774rem 0.587rem;
  }
  
  .oh_logo {
    width: 9.52rem;
    height: 3.627rem;
    margin-top: 0.134rem;
  }
  
  .block_1 {
    height: 3.76rem;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 33.707rem;
  }
  
  .group_4 {
    width: 32.267rem;
    height: 1.787rem;
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 0.854rem 0 0 0.56rem;
  }
  
  .text_2 {
    width: 0.64rem;
    height: 0.454rem;
    overflow-wrap: break-word;
    color: rgba(26, 26, 26, 1);
    font-size: 0.32rem;
    font-family: Source Han Sans-Bold;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 0.454rem;
  }
  
  .text-wrapper_2 {
    background-color: rgba(255, 255, 255, 1);
    height: 1.04rem;
    border: 1px solid rgba(191, 191, 191, 1);
    width: 32.267rem;
    margin: 0.187rem 0 0.107rem 0;
  }
  
  .text_3 {
    width: 7.574rem;
    height: 0.614rem;
    overflow-wrap: break-word;
    color: rgba(118, 118, 118, 1);
    font-size: 0.426rem;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 0.614rem;
    margin: 0.214rem 0 0 0.214rem;
  }
   */