/* .page {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 100vw;
    height: 64.65vw;
    overflow: hidden;
  }
  
  .group_1 {
    width: 98.21vw;
    height: 52.2vw;
    margin: 1.21vw 0 0 0.86vw;
  }
  
  .group_2 {
    background-color: rgba(88, 88, 88, 1);
    width: 21.07vw;
    height: 52.2vw;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  
  .button_new_chat {
    background-color: rgba(0, 0, 0, 1);
    height: 2.78vw;
    width: 8.8vw;
    margin: 3.18vw 0 0 6.13vw;
  }
  
  .text_1 {
    width: 2.96vw;
    height: 0.99vw;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 0.69vw;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 0.99vw;
    margin: 0.92vw 0 0 2.95vw;
  }
  
  .label_1 {
    width: 1.39vw;
    height: 1.39vw;
    margin: 2.95vw 0 0 1.44vw;
  }
  
  .paragraph_1 {
    width: 17.66vw;
    height: 29.63vw;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 1.04vw;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    line-height: 1.51vw;
    margin: -0.34vw 0 12.61vw 1.56vw;
  }
  
  .dialog_box {
    background-color: rgba(241, 241, 241, 1);
    height: 51.45vw;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: 0.24vw;
    width: 73.27vw;
  }
  
  
  .group_3 {
    width: 97.69vw;
    height: 8.16vw;
    margin: 1.38vw 0 1.67vw 1.27vw;
  }
  
  .oh_logo {
    width: 20.66vw;
    height: 7.88vw;
    margin-top: 0.29vw;
  }
  
  .block_1 {
    height: 8.16vw;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 73.15vw;
  }
  
  .group_4 {
    width: 70.03vw;
    height: 3.88vw;
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 1.85vw 0 0 1.21vw;
  }
  
  .text_2 {
    width: 1.39vw;
    height: 0.99vw;
    overflow-wrap: break-word;
    color: rgba(26, 26, 26, 1);
    font-size: 0.69vw;
    font-family: Source Han Sans-Bold;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    line-height: 0.99vw;
  }
  
  .text-wrapper_2 {
    background-color: rgba(255, 255, 255, 1);
    height: 2.26vw;
    border: 1px solid rgba(191, 191, 191, 1);
    width: 70.03vw;
    margin: 0.4vw 0 0.23vw 0;
  }
  
  .text_3 {
    width: 16.44vw;
    height: 1.34vw;
    overflow-wrap: break-word;
    color: rgba(118, 118, 118, 1);
    font-size: 0.92vw;
    font-family: Source Han Sans-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 1.34vw;
    margin: 0.46vw 0 0 0.46vw;
  }
   */